.table-container {
  position: relative;
  border: 1px solid gray;
  /* overflow: hidden; */
}

.overflow-y-auto {
  overflow-y: auto;
  overflow-x: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
  overflow-y: hidden;
}
