.left {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  box-shadow: 6px 0 6px -4px rgba(0,0,0,0.15);
}
.right {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  box-shadow: -6px 0 6px -4px rgba(0,0,0,0.15);
}
.right-scroll-bar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.hide-scroll-bar-wraper {
  position: relative;
  /* overflow: hidden; */
}
.base-scroll-container {
  position: relative;
  overflow: hidden;
}
.base-scroll-outer {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.base-scroll-inner {
  overflow-y: auto;
}
.scroll-x {
  /* 不能设置overflow auto，IE9及以下会不显示此滚动条 */
  overflow-x: scroll;
  overflow-y: hidden;
}
.scroll-x-absoluted {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
}
.scroll-x-inner {
  height: 1px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}