.left {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 10;
}
.right {
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  z-index: 10;
}
.fixed-header-z-index {
  z-index: 30;
}
.fixed-footer-z-index {
  z-index: 20;
}
.fixed-header-or-footer {
  position: relative;
}
.right-scroll-bar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.base-scroll-container {
  position: relative;
  overflow: hidden;
}
.scroll-x {
  /* 不能设置overflow auto，IE9及以下会不显示此滚动条 */
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}
.scroll-x-absoluted {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15px;
  z-index: 40;
}
.scroll-x-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
}
.scroll-x-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  overflow-x: scroll;
  overflow-y: hidden;
}
