.left {
  width: 0px;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
}
.right {
  width: 0px;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
}
.placeholder-tr {
  height: 0px;
  border: none;
}