.table-stripe tbody tr:nth-child(2n) td {
  background-color: #f8f8f9;
}
.table-stripe tbody tr.hover td {
  background-color: #ebf7ff;
}
.popup {
  position: absolute;
  top: 47px;
  right: 0;
  z-index: 500;
  width: 200px;
  height: 500px;
  background: red;
}